body{
	font-family:$fontFa;
	font-size:18px;
	margin:0;

}

.menu{
	padding:2em;
	text-align: right;

	a {
		padding:0.4em;
		text-decoration:none;
		color:$color;
		font-size:1.3em;
	}
}
.container{
	background-image: url('https://cdn.pixabay.com/photo/2016/10/16/18/11/shaft-1745933__340.jpg');
	background-size: 100%;
	height: 35em; 
	background-repeat: no-repeat;
	

}
.titre{	
	color:$color;
	
	
	h1{
		margin:0;
		font-size: 2.8em;
		padding-left: 3em;


	}
	h4{
		padding-top:1em;
		font-size: 1.3em;
		padding-left:7em;
	}
}

button.rond{
	border-radius:2em;
	font-size: 1em;
	background: none;
	text-align:center;
	padding:0.3em;
	color:$color;

}

.nouveautes{
	padding-left:9em;
	padding-top:3em;
}


.ou {
	#inputDestination{
		border:none;
		font-size: 1em;
		outline:none;
	}

	border-top-left-radius:0.2em;
	border-bottom-left-radius:0.2em;
	font-family: $fontFa;
	border: 1px #A9A9A9 solid;
	float: left;
	width: 25vw;
	height: 11vh;
	padding-left: 1em;
	padding-top: 0.833em;

}
.quand {

	.inputDestination {;
		width: 6.250em;
		height: 1.875em;
		background: white;
		border: none;
		text-align:left;
		font-size: 1em;
		margin-top:-0.2em;
		outline: none;
	}

	font-family: $fontFa;
	border: 1px #A9A9A9 solid;
	float: left;
	width: 25vw;
	height: 11vh;
	margin-left: 0vh;
	padding-left: 1em;
	padding-top: 0.833em;
	
}
.Voyageurs {

	.voyage{
		border:none;
		background:none;
		font-size: 1em;
		color: #767676;

	}
	border-top-right-radius:0.2em;
	border-bottom-right-radius:0.2em;
	border: 1px #A9A9A9 solid;
	font-family: $fontFa;
	width: 24vw;
	height: 11vh;
	margin-left: 0vh;
	padding-left: 1em;
	padding-top: 0.833em;

}

.infos {
	margin-top: 4.375em;
	display: flex;
	padding-left: 8.4em;


}


.btnrecherche {
	border-radius: 0.3em;
	border: none;
	color: white;
	background-color: #ff5a5f;
	width: 6em;
	height: 2.5em;
	font-family: $fontFa;
	font-size:1.3em;
	margin-left:3em;
	position: absolute;
	margin-top:-1.5em;





}






