.destinations{
	font-size:1.3em;
	padding-left: 21vh;
}
.experienceSoli{
	font-size:1.3em;
	padding-left: 21.5vh;
}

.images2{
	width:80%;
	margin:0 auto;
	display: flex;
	justify-content: space-around;
}

.img8{
	
	background-image: url('https://cdn.pixabay.com/photo/2016/04/11/14/03/tokyo-tower-1322145__340.jpg');
	width: 12.5vw;
	height:40vh; 
	background-repeat: no-repeat;
}
.img9{

	background-image: url('https://cdn.pixabay.com/photo/2014/02/25/11/48/eiffel-tower-274200__340.jpg');
	width: 12.5vw;
	height:40vh; 
	background-repeat: no-repeat;
}
.img10{
	
	background-image: url('https://cdn.pixabay.com/photo/2016/06/18/05/55/london-bus-1464576__340.jpg');
	width: 12.5vw;
	height:40vh; 
	background-repeat: no-repeat;

}
.img11{
	
	background-image: url('https://cdn.pixabay.com/photo/2012/11/28/10/37/rocket-launch-67649__340.jpg');
	width: 12.5vw;
	height:40vh; 
	background-repeat: no-repeat;

}
.img12{
	
	background-image: url('https://cdn.pixabay.com/photo/2016/01/07/20/06/florida-1126436__340.jpg');
	width: 12.5vw;
	height:40vh; 
	background-repeat: no-repeat;

}
.img13{
	
	background-image: url('https://cdn.pixabay.com/photo/2014/04/05/11/29/china-town-315854__340.jpg');
	width: 12.5vw;
	height:40vh; 
	background-repeat: no-repeat;
}
.images3{
	width:80%;
	margin:0 auto;
	display: flex;
	justify-content: space-around;
	
}
.img14{

	background-image: url('https://cdn.pixabay.com/photo/2016/10/28/16/43/usa-1778564__340.jpg');
	background-size: 22vw;
	height: 55vh; 
	background-repeat: no-repeat;
}
	
.img15{
	
	background-image: url('https://cdn.pixabay.com/photo/2016/10/18/21/46/locomotive-1751520__340.jpg');
	background-size: 22vw;
	height: 55vh; 
	background-repeat: no-repeat;
	

}
.img16{
	background-image: url('https://cdn.pixabay.com/photo/2016/10/29/22/03/door-1781733__340.jpg');
	background-size: 22vw;
	height: 55vh; 
	background-repeat: no-repeat;

}
.img17{
	
	background-image: url('https://cdn.pixabay.com/photo/2016/10/18/22/02/mailbox-1751582__340.jpg');
	background-size: 22vw;
	height: 55vh; 
	background-repeat: no-repeat;
	
}